<!DOCTYPE html>
<html lang="en">
  <head>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='js/data.js') }}"></script>
    <script src="{{ url_for('static', filename='js/template.js') }}"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

  </head>

  <body>
    <center>
      <div class="container-fluid center-block">
      <div class="center-block">
        <div class="center-block main">
          <div class="pure-g-r">
            <div class="pure-u-1" style="padding-top:45px;text-align: center; font-size: 150%; margin-top: 2em;">
                <a href="/get_user/?client_code={{client_code}}"><button class="btn btn-lg" style="background-color:white;border-color:gray;color:#007bb6;font-family:arial;font-size:18px;"><i class="fa fa-linkedin-square fa-1x"></i>  <strong>Sign up</strong> with <strong>LinkedIn</strong></button></a>
            </div>
        </div>
        </div>
      </div>
    </div>
  </center>


  </body>

</html>